<div fxFlex="grow">
    <mat-nav-list>
        <h2 mat-subheader>Favorites</h2>
        <mat-divider></mat-divider>
        <h2 mat-subheader>Other Contacts</h2>
        <mat-list-item *ngFor="let contact of contacts">
            <button mat-icon-button (click)="editContact(contact)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
            <mat-icon mat-list-icon>face</mat-icon>
            <h3 mat-line>{{ contact.Name }}</h3>
            <p mat-line>{{ contact.Email }}</p>
            <p mat-line>{{ contact.Phone }}</p>
        </mat-list-item>
    </mat-nav-list>
</div>