<div class="home-container" fxLayout="column">
    <div>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Contacts</span>
                <span class="spacer"></span>
                <button mat-flat-button color="accent" fxHide.lt-sm (click)="addContact()">Add Contact</button>
                <button mat-icon-button fxHide.gt-xs (click)="addContact()">
                    <mat-icon class="example-icon" >person_add</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div fxLayout="column" fxFlex="grow">
        <app-contacts fxFlex="grow"></app-contacts>
    </div>
</div>